{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<div class="profile-container">
    <h1>Profil de {{ user.firstname }} {{ user.lastname }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Prénom: {{ user.firstname }}</p>
    <p>Nom: {{ user.lastname }}</p>
    <p>Abonnement: {{ user.subscription.nom }}  <a href="{{ path('app_subscription') }}" >Changer son abonnement</a></p>
    <a href="{{ path('app_logout') }}" class="btn">Déconnexion</a>
    <a href="#" class="btn">Supprimer son compte</a>
</div>
{% endblock %}
